html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer;
  outline: none; }

@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url("../fonts/PTSans-Caption/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Caption/PTSans-CaptionBold.woff2") format("woff2"), url("../fonts/PTSans-Caption/PTSans-CaptionBold.woff") format("woff"), url("../fonts/PTSans-Caption/PTSans-CaptionBold.ttf") format("truetype"); }
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTSans-Caption/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Caption/PTSans-Caption.woff2") format("woff2"), url("../fonts/PTSans-Caption/PTSans-Caption.woff") format("woff"), url("../fonts/PTSans-Caption/PTSans-Caption.ttf") format("truetype"); }
@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Medium/MinionPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Medium/MinionPro-Medium.woff2") format("woff2"), url("../fonts/MinionPro-Medium/MinionPro-Medium.woff") format("woff"), url("../fonts/MinionPro-Medium/MinionPro-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Constantia';
  src: url("../fonts/Constantia/Constantia.ttf") format("truetype"); }
.faction-aol {
  background-image: url("../icons/factions.png");
  background-position: 0 -25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 0 auto; }
.faction-uof {
  background-image: url("../icons/factions.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 0 auto; }

.rank-1 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-2 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -32px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-3 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -64px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-4 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -96px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-5 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -128px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-6 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -160px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-7 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -192px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-8 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -224px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-9 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -256px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-10 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -288px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-11 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -320px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-12 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -352px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-13 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -384px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-14 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -416px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-15 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -448px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-16 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: 0 -480px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-17 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px 0px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-18 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -32px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-19 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -64px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-20 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -96px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-21 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -128px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-22 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -160px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-23 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -192px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-24 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -224px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-25 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -256px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-26 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -288px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-27 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -320px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-28 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -352px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-29 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -384px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-30 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -416px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }
.rank-31 {
  background-image: url("../icons/grades.png");
  background-repeat: no-repeat;
  background-position: -32px -448px;
  width: 27px;
  height: 16px;
  margin: 0 auto; }

.class-0 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
.class-1 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: -32px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
.class-2 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: -64px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
.class-3 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: -96px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
.class-4 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: -128px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }
.class-5 {
  background-image: url("../icons/classes.png");
  background-repeat: no-repeat;
  background-position: -160px 0px;
  width: 30px;
  height: 30px;
  margin: 0 auto; }

.recent {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .recent::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: -63px;
    left: -63px;
    background-image: url("../assets/content-left-cor.png");
    background-repeat: no-repeat; }
  .recent::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: -63px;
    right: -62px;
    background-image: url("../assets/content-right-cor.png");
    background-repeat: no-repeat; }

.vote-list {
  width: 93%;
  height: 100px;
  margin-top: 30px;
  background-image: url("../assets/vote-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(192, 118, 21, 0.22);
  position: relative; }
  .vote-list::after {
    content: "";
    position: absolute;
    top: -53px;
    left: calc(50% - 44px);
    width: 88px;
    height: 35px;
    background-image: url("../assets/content-top-dec.png");
    background-repeat: no-repeat; }
.vote-target {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .vote-target:hover {
    cursor: pointer;
    opacity: 0.7; }
  .vote-target__image {
    display: block;
    height: min-content; }
  .vote-target__info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .vote-target__info-title {
      font-size: 14px;
      color: #dfc68b;
      font-weight: 700;
      font-family: "PT Sans Caption";
      margin-left: 10px; }
    .vote-target__info-reward {
      font-size: 12px;
      color: #dfc68b;
      font-weight: 700;
      font-family: "PT Sans Caption";
      margin-left: 10px;
      margin-top: 10px;
      overflow: hidden; }

.news {
  width: 93%;
  max-height: 1010px;
  height: 1010px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 60px; }
  .news-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(192, 118, 21, 0.22);
    border-top: 0; }
    .news-post__image-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0; }
    .news-post__desc-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px; }
    .news-post__desc-title {
      color: #dfc68b;
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      font-family: "PT Sans Caption";
      margin: 15px 0; }
    .news-post__desc-date {
      color: #dfc68b;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      font-family: "PT Sans Caption";
      background-color: #e47d29;
      border-radius: 4px;
      padding: 3px 5px; }
    .news-post__desc-text {
      padding: 10px 20px;
      color: #8e7c6a;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      font-family: "PT Sans";
      white-space: pre-wrap; }
    .news-post__desc-btn {
      display: block;
      background-image: url("../assets/news-btn-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px 0;
      padding: 0 10px;
      font-size: 12px;
      line-height: 30px;
      color: #e47d29;
      font-weight: 700;
      font-family: "PT Sans";
      text-align: center;
      border: 1px solid rgba(192, 118, 21, 0.22);
      border-radius: 3px;
      align-self: center;
      transition: 0.3s all ease-in-out; }
      .news-post__desc-btn::before {
        content: "-";
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-family: "PT Sans";
        margin-right: 6px; }
      .news-post__desc-btn:hover {
        filter: brightness(1.25); }
  .news-item {
    width: 100%;
    border: 1px solid rgba(192, 118, 21, 0.22);
    border-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .news-item__image {
      width: 100%; }
      .news-item__image-wrap {
        display: flex;
        align-items: center;
        height: min-content;
        max-width: 50%;
        margin: auto 20px;
        position: relative; }
        .news-item__image-wrap::before {
          content: "";
          background-image: url("../assets/news-line.png");
          background-repeat: no-repeat;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 90px;
          height: 90px; }
        .news-item__image-wrap::after {
          content: "NEWS";
          position: absolute;
          top: 25px;
          left: 10px;
          font-size: 14px;
          color: #dfc68b;
          font-weight: 700;
          font-family: "PT Sans Caption";
          transform: rotate(-45deg); }
    .news-item__info {
      display: flex;
      height: min-content;
      width: 95%;
      margin: auto; }
    .news-item__desc {
      align-self: flex-end; }
      .news-item__desc-wrap {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        max-width: 60%;
        height: min-content;
        margin: 0 10px 0 auto; }
        .news-item__desc-wrap.full {
          height: auto; }
      .news-item__desc-title {
        color: #dfc68b;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-family: "PT Sans Caption";
        display: flex;
        align-items: center;
        margin: 15px 0; }
        .news-item__desc-title-date {
          align-self: flex-end;
          background-color: #e47d29;
          border-radius: 4px;
          padding: 3px 5px;
          margin-left: auto; }
      .news-item__desc-text {
        color: #8e7c6a;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: "PT Sans";
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5; }
        .news-item__desc-text.full {
          -webkit-line-clamp: none;
          overflow: auto;
          text-overflow: none; }
      .news-item__desc-btn {
        display: block;
        background-image: url("../assets/news-btn-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px 0;
        padding: 0 10px;
        font-size: 12px;
        line-height: 30px;
        color: #e47d29;
        font-weight: 700;
        font-family: "PT Sans";
        text-align: center;
        border: 1px solid rgba(192, 118, 21, 0.22);
        border-radius: 3px;
        align-self: flex-end;
        transition: 0.3s all ease-in-out; }
        .news-item__desc-btn::before {
          content: "+";
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          font-family: "PT Sans";
          margin-right: 6px; }
        .news-item__desc-btn:hover {
          filter: brightness(1.25); }

.general {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  border: 1px solid rgba(192, 118, 21, 0.22); }
  .general::after {
    content: "";
    position: absolute;
    top: -65px;
    right: -60px;
    width: 150px;
    height: 150px;
    background-image: url("../assets/gen-right-cor.png");
    background-repeat: no-repeat; }
  .general::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background-image: url("../assets/gen-left-cor-light.png");
    background-repeat: no-repeat; }

.start-wrap {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid rgba(192, 118, 21, 0.22); }
  .start-wrap::before {
    content: "";
    width: 88px;
    height: 35px;
    position: absolute;
    top: -23px;
    left: calc(50% - 44px);
    background-image: url("../assets/get-top-dec.png");
    background-repeat: no-repeat;
    background-position: center; }
.start-button {
  display: block;
  width: 333px;
  height: 55px;
  position: relative;
  font-size: 20px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 700;
  font-family: "PT Sans Caption";
  text-align: center;
  filter: drop-shadow(2px 3.464px 2px rgba(0, 0, 0, 0.41));
  background-image: url("../assets/btn-bg.png");
  filter: saturate(1.5);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all ease-in-out; }
  .start-button::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: -47px;
    left: -40px;
    background-image: url("../assets/btn-dec-left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .start-button::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: -47px;
    right: -40px;
    background-image: url("../assets/btn-dec-right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .start-button:hover {
    filter: brightness(1.25); }

.timer-block {
  width: 100%; }

.ranks-block {
  width: 100%; }

.header {
  width: 100%;
  padding: 70px 0 200px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  z-index: 10;
  background: transparent; }
  .header__status {
    width: 800px;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-image: url("../assets/ratings-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    font-family: "Minion Pro";
    text-align: center; }
    .header__status-item {
      width: 155px;
      height: 155px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      border-radius: 50%;
      border: 3px solid #ffdd9c;
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6); }
      .header__status-item:first-child .header__status-value {
        background-color: #134d00; }
      .header__status-item:last-child .header__status-value {
        background-color: #660000; }
    .header__status-online {
      font-size: 36px;
      color: #fff9e2;
      margin-bottom: 10px; }
    .header__status-value {
      display: block;
      background-color: #ff3600;
      color: #fff9e2;
      padding: 2px;
      border-radius: 10px; }
    .header__status-desc {
      width: 100px;
      border-radius: 5px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: #ffdd9c; }
    .header__status::before {
      content: "";
      width: 120px;
      height: 85px;
      position: absolute;
      top: -47px;
      left: calc(50% - 60px);
      background-image: url("../assets/rat-top-cor.png");
      filter: saturate(1.5);
      background-repeat: no-repeat;
      background-position: bottom; }
    .header__status::after {
      content: "";
      width: 120px;
      height: 85px;
      position: absolute;
      bottom: -47px;
      left: calc(50% - 60px);
      background-image: url("../assets/rat-bottom-cor.png");
      background-repeat: no-repeat;
      background-position: top; }
  .header__logo {
    background-image: url("../assets/logo-bg.png"), url("../assets/lights.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px 0;
    max-width: 720px; }

.nav {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center; }
  .nav::after {
    content: "";
    width: 80px;
    height: 45px;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 40px);
    background-image: url("../assets/bottom-cor.png");
    background-position: center; }
  .nav-mobile {
    height: 100%; }
    .nav-mobile__btn {
      display: none;
      background-color: transparent;
      border: 0;
      color: #ffffff;
      font-size: 40px;
      padding: 0 30px;
      line-height: 70px; }
      .nav-mobile__btn.active {
        left: 230px; }
  .nav-wrap {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.58);
    opacity: 0.85;
    border: 1px solid rgba(0, 0, 0, 0.58); }
  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .nav-list.active {
      left: 0px; }
  .nav-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: "PT Sans Caption"; }
    .nav-item__end {
      margin-left: auto;
      margin-right: 25px; }
  .nav-link {
    color: #f7c390;
    padding: 25px;
    transition: 0.3s all ease-in-out; }
    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.7); }
    .nav-link__auth {
      background-image: url("../assets/donate-bg.png");
      background-repeat: no-repeat;
      padding: 10px 40px;
      margin: 0 5% 0 auto;
      color: #6f2c00;
      font-family: "Constantia";
      font-weight: 700;
      text-shadow: 0 0 10px white;
      opacity: 1;
      position: relative; }
      .nav-link__auth::after {
        content: "";
        position: absolute;
        right: -20px;
        top: -5px;
        background-image: url("../assets/right-cor.png");
        width: 50px;
        height: 50px;
        filter: brightness(1.25); }
      .nav-link__auth::before {
        content: "";
        position: absolute;
        left: -30px;
        top: -5px;
        background-image: url("../assets/left-cor.png");
        width: 50px;
        height: 50px;
        filter: brightness(1.25); }
      .nav-link__auth:hover {
        filter: brightness(1.25);
        background-color: transparent; }

.table {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #f7daab;
  font-weight: 700;
  font-family: "PT Sans Caption";
  border-collapse: collapse; }
  .table-wrap {
    width: 95%;
    margin: 0 auto 20px auto;
    overflow-x: auto;
    border-left: 1px solid rgba(192, 118, 21, 0.22);
    border-right: 1px solid rgba(192, 118, 21, 0.22); }
  .table-title {
    font-size: 18px;
    line-height: 20px;
    color: #f7daab;
    font-weight: 700;
    font-family: "PT Sans Caption";
    text-align: center;
    padding: 25px 0; }
  .table thead {
    width: 100%;
    background-image: url("../assets/th-bg.png");
    background-size: cover;
    box-shadow: inset 0 0 3px wheat; }
  .table tr {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(192, 118, 21, 0.22); }
  .table th, .table td {
    text-overflow: ellipsis;
    overflow: hidden; }
  .table .col-3 {
    flex: 33%;
    max-width: 33%; }
  .table .col-4 {
    flex: 25%;
    max-width: 25%; }
  .table .col-5 {
    flex: 20%;
    max-width: 20%; }
  .table .col-7 {
    flex: 14%;
    max-width: 14%; }
  .table .col-9 {
    flex: 11%;
    max-width: 11%; }
  .table .col-10 {
    flex: 10%;
    max-width: 10%; }

.footer {
  width: 100%;
  height: 100px;
  margin-top: -100px;
  position: relative;
  z-index: 20;
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .footer::before {
    content: "";
    position: absolute;
    left: calc(50% - 44px);
    top: -22px;
    background-image: url("../assets/content-top-dec.png");
    width: 88px;
    height: 35px; }
  .footer__server-info, .footer__support {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .footer__server-info-text, .footer__support-text {
      font-size: 12px;
      line-height: 20px;
      color: grey;
      font-weight: 400;
      font-family: "PT Sans Caption"; }
    .footer__server-info-title, .footer__support-title {
      font-size: 14px;
      color: #e47d29;
      font-weight: 400;
      font-family: "PT Sans Caption"; }

.pagination {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination-item {
    display: block;
    border: 1px solid #301e17;
    width: 21px;
    height: 21px;
    margin: 0 3px;
    font-size: 12px;
    line-height: 20px;
    color: #f3ac31;
    font-weight: 700;
    font-family: "PT Sans";
    text-align: center;
    opacity: 0.7; }
    .pagination-item_active {
      background-color: #381108;
      opacity: 1;
      filter: brightness(1.5); }

.content {
  max-width: 1320px;
  margin: 0 auto;
  position: relative; }
  .content.main {
    display: flex;
    justify-content: center; }
  .content-wrap {
    width: 100%;
    padding-bottom: 150px;
    background: url("../assets/content-bg.png") no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    z-index: 15;
    margin-top: -125px; }

@media screen and (max-width: 1080px) {
  .content.main {
    flex-direction: column; }

  .recent {
    width: 83%;
    margin: 0 auto; }

  .general {
    width: 83%;
    margin: 50px auto 0 auto; }

  .header__status {
    width: 100%; } }
@media screen and (max-width: 940px) {
  .table.scroll {
    min-width: 940px; }
  .table-wrap {
    width: 100%; }

  .nav-wrap {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8); }
  .nav-list {
    position: fixed;
    width: 320px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: -420px;
    top: 0px;
    z-index: 12;
    display: block;
    padding: 140px 20px 40px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .nav-mobile__btn {
    display: block !important;
    position: relative;
    z-index: 15; }
  .nav-item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
  .nav-link:not(.nav-link__auth) {
    padding: 0; }
    .nav-link:not(.nav-link__auth):hover {
      background: transparent; } }
@media screen and (max-width: 720px) {
  .start-button {
    width: 220px; }
    .start-button::before {
      width: 115px;
      height: 115px;
      top: -30px;
      left: -30px; }
    .start-button::after {
      width: 115px;
      height: 115px;
      top: -30px;
      right: -30px; }

  .header__logo {
    width: 100%; }

  .vote-target__info-title {
    font-size: 12px; }
  .vote-target__info-reward {
    font-size: 10px; }

  .recent::before {
    display: none; }
  .recent::after {
    display: none; }

  .general::before {
    display: none; }
  .general::after {
    display: none; } }
@media screen and (max-width: 640px) {
  .recent, .general {
    width: 100%; }

  .header__status-item {
    width: 125px;
    height: 125px; }
  .header__status-desc {
    width: 90px;
    font-size: 14px; }
  .header__status-value {
    padding: 0; }

  .vote-list {
    display: none; }

  .news {
    width: 100%; }
    .news-item__image {
      width: 90%;
      margin: auto; }
      .news-item__image-wrap {
        margin: 0 auto; }
        .news-item__image-wrap::before {
          display: none; }
        .news-item__image-wrap::after {
          display: none; }
    .news-item__desc-title {
      font-size: 10px; }
    .news-item__desc-text {
      font-size: 12px;
      -webkit-line-clamp: 2; }
    .news-item__desc-btn {
      font-size: 10px; }
    .news::after {
      content: "";
      position: absolute;
      top: -25px;
      left: calc(50% - 44px);
      width: 88px;
      height: 35px;
      background-image: url("../assets/content-top-dec.png");
      background-repeat: no-repeat; } }
@media screen and (max-width: 480px) {
  .content-wrap {
    padding-bottom: 250px; }

  .footer {
    height: 200px;
    margin-top: -200px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr; }

  .news-item__desc-wrap {
    max-width: 95%; }
  .news-item__info {
    flex-direction: column; }

  .header__status {
    height: 160px; }
    .header__status-item:first-child, .header__status-item:last-child {
      display: none; } }
@media screen and (max-width: 320px) {
  .timer-block__wrap {
    width: 100%; } }
* {
  box-sizing: content-box; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden;
  background-image: url("../assets/newbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.ranks-wrap, .guilds-wrap {
  width: 100%;
  overflow-x: auto; }
.ranks-title, .guilds-title {
  font-size: 24px;
  line-height: 30px;
  color: #f7daab;
  font-weight: 700;
  font-family: "PT Sans Caption";
  text-align: center;
  padding: 30px 0; }
.ranks .pagination, .guilds .pagination {
  height: 60px; }
