.header {
    width: 100%;
    padding: 70px 0 200px 0;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    position: relative;
    z-index: 10;

    background: transparent;

    &__status {
        width: 800px;
        height: 220px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        position: relative;

        background-image: url('../assets/ratings-bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        font-weight: 400;
        font-family: "Minion Pro";
        text-align: center;

        &-item {
            width: 155px;
            height: 155px;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;

            border-radius: 50%;
            border: 3px solid #ffdd9c;
            box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);

            &:first-child {
                .header__status-value {
                    background-color: #134d00;
                }
            }

            &:last-child {
                .header__status-value {
                    background-color: #660000;
                }
            }
        }

        &-online {
            font-size: 36px;
            color: #fff9e2;
            margin-bottom: 10px;
        }

        &-value {
            display: block;
            background-color: #ff3600;
            color: #fff9e2;
            padding: 2px;
            border-radius: 10px;
        }

        &-desc {
            width: 100px;

            border-radius: 5px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            color: #ffdd9c;
        }

        &::before {
            content: "";
            width: 120px;
            height: 85px;

            position: absolute;
            top: -47px;
            left: calc(50% - 60px);

            background-image: url('../assets/rat-top-cor.png');
            filter: saturate(1.5);
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &::after {
            content: "";
            width: 120px;
            height: 85px;

            position: absolute;
            bottom: -47px;
            left: calc(50% - 60px);

            background-image: url('../assets/rat-bottom-cor.png');
            background-repeat: no-repeat;
            background-position: top;
        }
    }

    &__logo {
        background-image: url('../assets/logo-bg.png'), url('../assets/lights.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        margin: 20px 0;
        max-width: 720px;
    }
}


.nav {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    position: relative;

    display: flex;
    align-items: center;

    &::after {
        content: "";
        width: 80px;
        height: 45px;

        position: absolute;
        bottom: -25px;
        left: calc(50% - 40px);
        background-image: url('../assets/bottom-cor.png');
        background-position: center
    }

    &-mobile {
        height: 100%;

        &__btn {
            display: none;
            background-color: transparent;
            border: 0;

            color: #ffffff;
            font-size: 40px;

            padding: 0 30px;
            line-height: 70px;

            &.active {
                left: 230px;
            }
        }
    }
    
    &-wrap {
        width: 100%;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;

        background-color:rgba(0,0,0,0.58);
        opacity: 0.85;
        border: 1px solid rgba(0,0,0,0.58);
    }

    &-list {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;

        &.active {
            left: 0px;
        }
    }

    &-item {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-family: "PT Sans Caption";

        &__end {
            margin-left: auto;
            margin-right: 25px;
        }
    }

    &-link {
        color: #f7c390;
        padding: 25px;
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: rgba(0,0,0, 0.7);
        }

        &__auth {
            background-image: url('../assets/donate-bg.png');
            background-repeat: no-repeat;
            padding: 10px 40px;
            margin: 0 5% 0 auto;

            color: #6f2c00;
            font-family: "Constantia";
            font-weight: 700;

            text-shadow: 0 0 10px white;
            opacity: 1;

            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: -20px;
                top: -5px;
                background-image: url('../assets/right-cor.png');
                width: 50px;
                height: 50px;
                filter: brightness(1.25)
            }

            &::before {
                content: "";
                position: absolute;
                left: -30px;
                top: -5px;
                background-image: url('../assets/left-cor.png');
                width: 50px;
                height: 50px;
                filter: brightness(1.25)
            }
            
            &:hover {
                filter: brightness(1.25);
                background-color: transparent;
            }
        }
    }
}


.table {
    width: 100%; 

    font-size: 12px;
    line-height: 20px;
    color: #f7daab;
    font-weight: 700;
    font-family: "PT Sans Caption";

    border-collapse: collapse;

    &-wrap {
        width: 95%;
        margin: 0 auto 20px auto;
        overflow-x: auto;
        border-left: 1px solid rgba(192,118,21,0.22);
        border-right: 1px solid rgba(192,118,21,0.22);
    }

    &-title {
        font-size: 18px;
        line-height: 20px;
        color: #f7daab;
        font-weight: 700;
        font-family: "PT Sans Caption";
        text-align: center;
        padding: 25px 0;
    }

    thead {
        width: 100%;
        background-image: url('../assets/th-bg.png');
        background-size: cover;

        box-shadow: inset 0 0 3px wheat;
    }

    tr {
        width: 100%;

        display: flex;
        align-items: center;

        min-height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(192,118,21,0.22);
    }

    th, td {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .col-3 {
        flex: 33%;
        max-width: 33%;
    }

    .col-4 {
        flex: 25%;
        max-width: 25%;
    }

    .col-5 {
        flex: 20%;
        max-width: 20%;
    }

    .col-7 {
        flex: 14%;
        max-width: 14%;
    }

    .col-9 {
        flex: 11%;
        max-width: 11%;
    }

    .col-10 {
        flex: 10%;
        max-width: 10%;
    }
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 20;

    background-image: url('../assets/footer-bg.png');
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &::before {
        content: "";
        position: absolute;
        left: calc(50% - 44px);
        top: -22px;
        background-image: url("../assets/content-top-dec.png");
        width: 88px;
        height: 35px;
    }

    &__server-info, &__support {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        &-text {
            font-size: 12px;
            line-height: 20px;
            color: grey;
            font-weight: 400;
            font-family: "PT Sans Caption";
        }

        &-title {
            font-size: 14px;
            color: #e47d29;
            font-weight: 400;
            font-family: "PT Sans Caption";
        }
    }
}

.pagination {
    width: 100%;
    min-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
        display: block;

        border: 1px solid #301e17;
        width: 21px;
        height: 21px;

        margin: 0 3px;

        font-size: 12px;
        line-height: 20px;
        color: #f3ac31;
        font-weight: 700;
        font-family: "PT Sans";
        text-align: center;

        opacity: 0.7;

        &_active {
            background-color: #381108;
            opacity: 1;
            filter: brightness(1.5);
        }
    }
}

.content {
    max-width: 1320px;
    margin: 0 auto;

    position: relative;

    &.main {
        display: flex;
        justify-content: center;
    }

    &-wrap {
        width: 100%;
        padding-bottom: 150px;
        background: url('../assets/content-bg.png') no-repeat;
        background-size: 100%;
        background-position: center;

        position: relative;
        z-index: 15;
        margin-top: -125px;
    }
}