@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url('../fonts/PTSans-Caption/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSans-Caption/PTSans-CaptionBold.woff2') format('woff2'),
       url('../fonts/PTSans-Caption/PTSans-CaptionBold.woff') format('woff'),
       url('../fonts/PTSans-Caption/PTSans-CaptionBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/PTSans-Caption/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTSans-Caption/PTSans-Caption.woff2') format('woff2'),
       url('../fonts/PTSans-Caption/PTSans-Caption.woff') format('woff'),
       url('../fonts/PTSans-Caption/PTSans-Caption.ttf') format('truetype'),
}

@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/MinionPro-Medium/MinionPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MinionPro-Medium/MinionPro-Medium.woff2') format('woff2'),
       url('../fonts/MinionPro-Medium/MinionPro-Medium.woff') format('woff'),
       url('../fonts/MinionPro-Medium/MinionPro-Medium.ttf') format('truetype'),
}

@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia/Constantia.ttf') format('truetype'),
}