.recent {
    width: 60%;

    background-color: rgba(0,0,0, 0.8);

    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: "";
        width: 150px;
        height: 150px;

        position: absolute;
        top: -63px;
        left: -63px;

        background-image: url('../assets/content-left-cor.png');
        background-repeat: no-repeat;
    }

    &::after {
        content: "";
        width: 150px;
        height: 150px;

        position: absolute;
        top: -63px;
        right: -62px;

        background-image: url('../assets/content-right-cor.png');
        background-repeat: no-repeat;
    }
}

.vote {
    &-list {
        width: 93%;
        height: 100px;

        margin-top: 30px;

        background-image: url('../assets/vote-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px solid rgba(192,118,21,0.22);

        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -53px;
            left: calc(50% - 44px);
            width: 88px;
            height: 35px;
            background-image: url('../assets/content-top-dec.png');
            background-repeat: no-repeat;
        }
    }

    &-target {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        &__image {
            display: block;
            height: min-content;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title {
                font-size: 14px;
                color: #dfc68b;
                font-weight: 700;
                font-family: "PT Sans Caption";
                margin-left: 10px;
            }
    
            &-reward {
                font-size: 12px;
                color: #dfc68b;
                font-weight: 700;
                font-family: "PT Sans Caption";
                margin-left: 10px;
                margin-top: 10px;

                overflow: hidden;
            }
        }
    }
}

.news {
    width: 93%;
    max-height: 1010px;
    height: 1010px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 60px;

    &-post {
        width: 100%;

        display: flex;
        flex-direction: column;

        border: 1px solid rgba(192,118,21,0.22);
        border-top: 0;

        &__image {
            &-wrap {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 0;
            }
        }

        &__desc {
            &-wrap {
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;

                padding-bottom: 40px;
            }

            &-title {
                color: #dfc68b;
                text-align: center;
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                font-family: "PT Sans Caption";

                margin: 15px 0;
            }

            &-date {
                color: #dfc68b;
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                font-family: "PT Sans Caption";
                background-color: #e47d29;
                border-radius: 4px;
                padding: 3px 5px;
            }

            &-text {
                padding: 10px 20px;

                color: #8e7c6a;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                font-family: "PT Sans";
                white-space: pre-wrap;
            }

            &-btn {
                display: block;

                background-image: url('../assets/news-btn-bg.png');
                background-repeat: no-repeat;
                background-size: cover;

                margin: 10px 0;
                padding: 0 10px;

                font-size: 12px;
                line-height: 30px;
                color: #e47d29;
                font-weight: 700;
                font-family: "PT Sans";
                text-align: center;

                border: 1px solid rgba(192,118,21,0.22);
                border-radius: 3px;

                align-self: center;

                transition: 0.3s all ease-in-out;

                &::before {
                    content: "-";
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                    font-family: "PT Sans";
                    margin-right: 6px;
                }

                &:hover {
                    filter: brightness(1.25);
                }
            }
        }
    }

    &-item {
        width: 100%;
        border: 1px solid rgba(192,118,21,0.22);
        border-top: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        &__image {
            &-wrap {
                display: flex;
                align-items: center;
                height: min-content;
                max-width: 50%;
                margin: auto 20px;

                position: relative;

                &::before {
                    content: "";
                    background-image: url("../assets/news-line.png");
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 90px;
                    height: 90px;
                }
                &::after {
                    content: "NEWS";
                    position: absolute;
                    top: 25px;
                    left: 10px;

                    font-size: 14px;
                    color: #dfc68b;
                    font-weight: 700;
                    font-family: "PT Sans Caption";

                    transform: rotate(-45deg);
                }
            }
            width: 100%;
        }

        &__info {
            display: flex;
            height: min-content;

            width: 95%;
            margin: auto;
        }

        &__desc {
            align-self: flex-end;

            &-wrap {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                max-width: 60%;
                height: min-content;

                margin: 0 10px 0 auto;

                &.full {
                    height: auto;
                }
            }

            &-title {
                color: #dfc68b;
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                font-family: "PT Sans Caption";

                display: flex;
                align-items: center;

                margin: 15px 0;

                &-date {
                    align-self: flex-end;
                    background-color: #e47d29;
                    border-radius: 4px;
                    padding: 3px 5px;
                    margin-left: auto;
                }
            }

            &-text {
                color: #8e7c6a;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                font-family: "PT Sans";

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;

                &.full {
                    -webkit-line-clamp: none;
                    overflow: auto;
                    text-overflow: none;
                }
            }

            &-btn {
                display: block;

                background-image: url('../assets/news-btn-bg.png');
                background-repeat: no-repeat;
                background-size: cover;

                margin: 10px 0;
                padding: 0 10px;

                font-size: 12px;
                line-height: 30px;
                color: #e47d29;
                font-weight: 700;
                font-family: "PT Sans";
                text-align: center;

                border: 1px solid rgba(192,118,21,0.22);
                border-radius: 3px;

                align-self: flex-end;

                transition: 0.3s all ease-in-out;

                &::before {
                    content: "+";
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                    font-family: "PT Sans";
                    margin-right: 6px;
                }

                &:hover {
                    filter: brightness(1.25);
                }
            }
        }
    }
}

.general {
    width: 30%;

    background-color: rgba(0,0,0, 0.8);

    position: relative;
    border: 1px solid rgba(192,118,21,0.22);

    &::after {
        content: "";
        position: absolute;
        top: -65px;
        right: -60px;
        width: 150px;
        height: 150px;
        background-image: url('../assets/gen-right-cor.png');
        background-repeat: no-repeat;
    }

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        width: 150px;
        height: 150px;
        background-image: url('../assets/gen-left-cor-light.png');
        background-repeat: no-repeat;
    }
}

.start {
    &-wrap {
        width: 100%;
        height: 110px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        border-bottom: 1px solid rgba(192,118,21,0.22);

        &::before {
            content: "";
            width: 88px;
            height: 35px;
            position: absolute;
            top: -23px;
            left: calc(50% - 44px);
            background-image: url('../assets/get-top-dec.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-button {
        display: block;

        width: 333px;
        height: 55px;

        position: relative;

        font-size: 20px;
        line-height: 55px;
        color: #ffffff;
        font-weight: 700;
        font-family: "PT Sans Caption";
        text-align: center;
        filter: drop-shadow(2px 3.464px 2px rgba(0,0,0,0.41));

        background-image: url('../assets/btn-bg.png');
        filter: saturate(1.5);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        transition: 0.3s all ease-in-out;

        &::before {
            content: "";
            width: 150px;
            height: 150px;
            position: absolute;
            top: -47px;
            left: -40px;
            background-image: url('../assets/btn-dec-left.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        
        &::after {
            content: "";
            width: 150px;
            height: 150px;
            position: absolute;
            top: -47px;
            right: -40px;
            background-image: url('../assets/btn-dec-right.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &:hover {
            filter: brightness(1.25);
        }
    }
}

.timer-block {
    width: 100%;
}

.ranks-block {
    width: 100%;
}