@import './reset.scss';
@import './fonts.scss';
@import './service.scss';
@import './index.scss';
@import './components.scss';
@import './media.scss';

* {
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-image: url('../assets/newbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ranks, .guilds {
    &-wrap {
        width: 100%;
        overflow-x: auto;
    }   

    &-title {
        font-size: 24px;
        line-height: 30px;
        color: #f7daab;
        font-weight: 700;
        font-family: "PT Sans Caption";
        text-align: center;
        padding: 30px 0;
    }

    .pagination {
        height: 60px;
    }
}

