@media screen and (max-width: 1080px) {
    .content.main {
        flex-direction: column;
    }

    .recent {
        width: 83%;
        margin: 0 auto;
    }

    .general {
        width: 83%;
        margin: 50px auto 0 auto;
    }

    .header__status {
        width: 100%;
    }
}

@media screen and (max-width: 940px) {
    .table {
        &.scroll {
            min-width: 940px;
        }

        &-wrap {
            width: 100%;
        }
    }

    .nav {
        &-wrap {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.8);
        }

        &-list {
            position: fixed;
            width: 320px;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            left: -420px;
            top: 0px;
            z-index: 12;
            display: block;
            padding: 140px 20px 40px 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

        &-mobile {
            &__btn {
                display: block!important;
                position: relative;
                z-index: 15;
            }
        }

        &-item {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        &-link:not(.nav-link__auth) {
            padding: 0;

            &:hover {
                background: transparent;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .start-button {
        width: 220px;

        &::before {
            width: 115px;
            height: 115px;
            top: -30px;
            left: -30px;
        }

        &::after {
            width: 115px;
            height: 115px;
            top: -30px;
            right: -30px;
        }
    }

    .header {
        &__logo {
            width: 100%;
        }
    }

    .vote-target__info {
        &-title {
            font-size: 12px;
        }
        &-reward {
            font-size: 10px;
        }
    }

    .recent {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .general {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 640px) {
    .recent, .general {
        width: 100%;
    }

    .header__status {
        &-item {
            width: 125px;
            height: 125px;
        }

        &-desc {
            width: 90px;
            font-size: 14px;
        }

        &-value {
            padding: 0;
        }
    }

    .vote-list {
        display: none;
    }

    .news {
        width: 100%;

        &-item {
            &__image {
                width: 90%;
                margin: auto;
    
                &-wrap {
                    margin: 0 auto;
                    
                    &::before {
                        display: none;
                    }
    
                    &::after {
                        display: none;
                    }
                }
            }

            &__desc {
                &-title {
                    font-size: 10px;
                }

                &-text {
                    font-size: 12px;
                    -webkit-line-clamp: 2;
                }

                &-btn {
                    font-size: 10px;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -25px;
            left: calc(50% - 44px);
            width: 88px;
            height: 35px;
            background-image: url('../assets/content-top-dec.png');
            background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 480px) {
    .content-wrap {
        padding-bottom: 250px;
    }

    .footer {
        height: 200px;
        margin-top: -200px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .news-item {
        &__desc {
            &-wrap {
                max-width: 95%;
            }
        }

        &__info {
            flex-direction: column;
        }
    }

    .header__status {
        height: 160px;

        &-item {
            &:first-child, &:last-child {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .timer-block__wrap {
        width: 100%;
    }
}