.faction {
    &-aol {
        background-image: url('../icons/factions.png');
        background-position: 0 -25px;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }
    &-uof {
        background-image: url('../icons/factions.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }
}

.rank {
    &-1 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 0;width:27px;height:16px;margin:0 auto;}
    &-2 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -32px;width:27px;height:16px;margin:0 auto;}
    &-3 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -64px;width:27px;height:16px;margin:0 auto;}
    &-4 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -96px;width:27px;height:16px;margin:0 auto;}
    &-5 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -128px;width:27px;height:16px;margin:0 auto;}
    &-6 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -160px;width:27px;height:16px;margin:0 auto;}
    &-7 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -192px;width:27px;height:16px;margin:0 auto;}
    &-8 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -224px;width:27px;height:16px;margin:0 auto;}
    &-9 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -256px;width:27px;height:16px;margin:0 auto;}
    &-10 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -288px;width:27px;height:16px;margin:0 auto;}
    &-11 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -320px;width:27px;height:16px;margin:0 auto;}
    &-12 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -352px;width:27px;height:16px;margin:0 auto;}
    &-13 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -384px;width:27px;height:16px;margin:0 auto;}
    &-14 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -416px;width:27px;height:16px;margin:0 auto;}
    &-15 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -448px;width:27px;height:16px;margin:0 auto;}
    &-16 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:0 -480px;width:27px;height:16px;margin:0 auto;}
    &-17 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px 0px;width:27px;height:16px;margin:0 auto;}
    &-18 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -32px;width:27px;height:16px;margin:0 auto;}
    &-19 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -64px;width:27px;height:16px;margin:0 auto;}
    &-20 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -96px;width:27px;height:16px;margin:0 auto;}
    &-21 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -128px;width:27px;height:16px;margin:0 auto;}
    &-22 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -160px;width:27px;height:16px;margin:0 auto;}
    &-23 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -192px;width:27px;height:16px;margin:0 auto;}
    &-24 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -224px;width:27px;height:16px;margin:0 auto;}
    &-25 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -256px;width:27px;height:16px;margin:0 auto;}
    &-26 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -288px;width:27px;height:16px;margin:0 auto;}
    &-27 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -320px;width:27px;height:16px;margin:0 auto;}
    &-28 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -352px;width:27px;height:16px;margin:0 auto;}
    &-29 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -384px;width:27px;height:16px;margin:0 auto;}
    &-30 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -416px;width:27px;height:16px;margin:0 auto;}
    &-31 {background-image: url('../icons/grades.png');background-repeat:no-repeat;background-position:-32px -448px;width:27px;height:16px;margin:0 auto;}
} 

.class {
    &-0 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:0px 0px;width:30px;height:30px;margin:0 auto;}
    &-1 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:-32px 0px;width:30px;height:30px;margin:0 auto;}
    &-2 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:-64px 0px;width:30px;height:30px;margin:0 auto;}
    &-3 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:-96px 0px;width:30px;height:30px;margin:0 auto;}
    &-4 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:-128px 0px;width:30px;height:30px;margin:0 auto;}
    &-5 {background-image: url('../icons/classes.png');background-repeat:no-repeat;background-position:-160px 0px;width:30px;height:30px;margin:0 auto;}
}